@font-face {
    font-family: mainFont;
    src: url("../Fonts/zh-cn.ttf");
}

body {
    background-image: linear-gradient(to bottom, white, #ef87b5, #06bded, #c3d773);
    background-repeat: no-repeat;
    height: 100%;
    font-size: 2.2dvh;
}

.mainpage {
    margin-left: 5dvw;
    margin-right: 5dvw;
    background-image: repeating-linear-gradient(rgb(79, 98, 206), rgb(52, 11, 84));
    border-radius: 0.8dvh;
    color: rgb(180, 196, 209);
    padding: 20px;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome {
    justify-items: center;
    text-align: center;
}

#logo {
    width: 20dvh;
}

.card-display {
    display: inline-flex;
    align-items: center;
    width: 27dvw;
    height: 30dvh;
}

.cardname {
    font-size: 2.4dvh;
}

.card-text {
    display: inline-block;
    font-family: mainFont;
    white-space: pre-wrap;
    overflow-y: auto;
    height: 28dvh;
    scroll-snap-type: mandatory;
    scrollbar-color: rgb(56, 40, 110) rgb(42, 2, 98);
    scrollbar-width: thin;
    font-size: 2dvh;
}

.focus-cardname {
    font-size: 2.4dvh;
}

.focus-card-text {
    display: inline-block;
    font-family: mainFont;
    white-space: pre-wrap;
    overflow-y: auto;
    height: 28dvh;
    scroll-snap-type: mandatory;
    scrollbar-color: rgb(56, 40, 110) rgb(42, 2, 98);
    scrollbar-width: thin;
    font-size: 2dvh;
}

.cardimg {
    width: 20dvh;
    display: inline-block;
    cursor: pointer;
}

.popup {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0;
    height: 70dvh;
    width: 70dvw;
    text-align: center;
    border-color: rgb(32, 0, 88);
    border-style: double;
    border-radius: 10px;
    background-color: rgb(12, 0, 48);
    color: rgb(64, 119, 138);
    font-family: mainFont;
    transition: all ease-out 400ms;
    transition-behavior: normal;
    transition-duration: 400ms;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    transition-property: all;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dark-focus {
    height: 100dvh;
    width: 100dvw;
    background-color: rgba(142, 128, 185, 0.6);
    transition: all ease-out 400ms;
    transition-behavior: normal;
    transition-duration: 400ms;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    transition-property: all;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    cursor: pointer;
}

.hidden {
    transition: 0.5s;
    display: none;
}

.card-highlight {
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#popup-img {
    width: 30%;
    object-fit: contain;
}

#popup-text {
    text-align: left;
}

#close-popup {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

@media (orientation: portrait) {
    .mainpage {
        margin-left: 0;
        margin-right: 0;
        display: flex;
    }

    #carddiv {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }

    .card-display {
        height: 40dvh;
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .cardimg {
        display: unset;
        align-items: unset;
        justify-items: unset;
        justify-content: unset;
        height: 40dvh;
        object-fit: contain;
    }

    .cardname {
        width: 0;
        visibility: hidden;
    }

    .card-highlight {
        display: unset;
        position: unset;
    }

    #popup-img {
        width: 50%;
    }

    .card-text {
        width: 0;
        visibility: hidden;
    }

    #close-popup {
        display: unset;
        position: unset;
        visibility: hidden;
    }
}
